// Define variables for your color scheme

// For example:
$darkblue: #28374E;
$blue: #0071BC;
$lightblue: #3FA9F5;

$red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
