<div class="banner" style="background-image: url(<%= image_path "background.jpg" %>);">
  <div class="d-flex justify-content-center">
    <div class="box-blue"> <h1>Open a new chapter <br> in your life</h1></div>
  </div>
  <div class="d-flex justify-content-center"><%= link_to books_path, class: "btn btn-landing" do %>
  <i class="fas fa-angle-double-down" id="edit" aria-hidden="true"></i>
  <%end%>
  </div>
</div>
