<div class="banner" style="background-image: url(<%= image_path "background.svg" %>);">
  <div class="container">
    <%= image_tag "logo_pb.png", class: "landing-logo" %>
    <div><h1>Open a new chapter <br>in your life</h1></div>
    <div><%= link_to "Try me!", books_path, class: "btn btn-landing" %></div>
  </div>

</div>
