<div class="container mt-5">
<div></div>
  <div class="row">
      <h1>My Profile</h1>


  <%= pie_chart current_user.top_categories, donut: true %>

  <%= current_user.books_read %>
  <%= current_user.time_spent %>
  <%= current_user.avg_speed %>
  </div>
</div>
