<!-- When taking a new book, add by name or ISBN-->
<h2>Find a book</h2>

<div class="input-group">
    <div class="form-outline">
    <input id="search-focus" type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
</div>
