.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  height: 100vh;
}

.banner h1 {
  padding-bottom: 25px;
  color: #6cd1f4;
  font-size: 64px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
