button {
  border-radius: 6px;
  border-style: none;
  background-color: #F9F3DF;
  transition: 0.2s;
  font-size: 12px;
  &:hover {
    background-color: #F4D19B;
  }
}

.button-feedback {
  font-size:16px;
  padding:8px;
  background-color: whitesmoke;
  // border: 2px solid grey;
}

.button-comment {
  font-size: 40px;
  color: white;
}

// .button-add-to-library:active {
//   background-color: #F4D19B;
// }

.btn-landing {
  z-index: 9;
  width: 85px;
  height: 85px;
  background: white;
  margin-top: 160px;
  padding: 15px;
  border-radius: 50%;
  font-weight: 400;
}

.btn-landing:hover {
  #edit {color: white;}
  background: #3FA9F5;
  color: white;
}
