button {
  width: 100%;
  // height: 60px;
  border-radius: 6px;
  border-width: 2px;
  background-color: #F9F3DF;

  &:hover {
    background-color: #F4D19B;
  }
}

.button-cheer {
  background: url('cheering.gif');
  width: 140px;
  height: 60px;
  background-size: 300px;
  color: white;
}


.btn-landing {
  color: white;
  background: #6cd1f4;
  border: 2px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 400;

}

.btn-landing:hover {
  background: #f4d19b;
  color: white;
}
