button {
  // width: 100%;
  // height: fit-content;
  border-radius: 6px;
  border-style: none;
  // border-width: 2px;
  background-color: #F9F3DF;
  transition: 0.2s;
  // padding: 10px;
  font-size: 12px;

  &:hover {
    background-color: #F4D19B;
  }
}

.button-cheer {
  background: url('cheering.gif');
  width: 140px;
  height: 60px;
  background-size: 300px;
  color: white;
}

// .button-add-to-library:active {
//   background-color: #F4D19B;
// }

.btn-landing {
  z-index: 9;
  width: 85px;
  height: 85px;
  background: white;
  margin-top: 160px;
  padding: 15px;
  border-radius: 50%;
  font-weight: 400;
}

.btn-landing:hover {
  #edit {color: white;}
  background: #3FA9F5;
  color: white;
}
