.card-product {
  overflow: hidden;
  //height: 350px;
  height: fit-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  // align-items: center;
  margin-bottom: 25px;
  border-radius: 6px;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.avatar {
  padding: 0px;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 15px;
  // display: flex;
}

.user-info {
  padding: 10px;
}

.reading-info {
  padding: 10px;
  margin-bottom: auto;
}

.reaction-counts {
  padding: 10px;
  border-top: 5px black;
}

.buttons {
  padding: 10px;
  border-top-style: solid;
  border-width: 1px;
  border-color: grey;
  // border-top: 5px black;
}

.button-col {
  padding: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

.reaction-counts {
  padding: 10px;
  border-top-style: solid;
  border-width: 1px;
  border-color: grey;
}

#card-info {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
