// body {
//   background-color: $darkblue;
// }

h6 {
  font-size: small;
}

#newsfeed-header {
  width: 100%;
  height: 200px;
  background-color: white;
}

.newsfeed-title {
  padding: 40px;
  position: sticky;
}

.newsfeed-title h2 {
  font-size: 60px;
  font-style: italic;
  font-weight: lighter;
  color: white;
  text-align: center;
}

.readings-cards {
  background: linear-gradient($darkblue, white);
  padding-left: 80px;
  padding-right: 80px;
}

.literature-quotes-container {
  width: 100%;
  height: 300px;
  background-color: $darkblue;
  position: relative;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.literature-quotes {
  position:absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
}

.literature-quotes h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.literature-quotes p {
  font-weight: lighter;
  font-style: italic;
  font-size: 20px;
}

.literature-quote-icons {
  position: relative;
  padding: 10px;
}

.quote-icon-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  // text-align: center;
}

.quote-icon-circle-current {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #28374E;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 50%;
  // text-align: center;
}

.readings-cards-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-product {
  overflow: hidden;
  height: 20vh;
  width: 30vw;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 3px;
  position: relative;
}

.book-image {
  width: 20%;
  height: 20vh;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.right-align {
  position: absolute;
  right: 0;
  width: 20vw;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-product p {
  font-size: 10px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  // margin-top: 8px;
}

.reading-info {
  margin-bottom: auto;
  overflow: hidden;
}

.reaction-counts {
  border-top: 5px black;
  font-size: 10px;
}

.buttons {
  border-top-style: solid;
  border-width: 1px;
  border-color: grey;
}

.button-col {
  padding: 0px;
}

.reaction-counts {
  font-size: 12px;
  border-top-style: solid;
  border-width: 1px;
  border-color: grey;
}

.flip-future {
  opacity: 0.5;
  position: relative;
}

.flip-current {
  opacity: 1;
  position: relative;
}

.bookmark {
  position: absolute;
  left: 190px;
  top: -20px;
  font-size: 50px;
}

.b-current {
  color: #03cfa6;
}

.b-future {
  color: #0071bc;
}

.read-button {
  position: absolute;
  width: 60%;
  right: 20%;
  margin-bottom: 5px;
  text-align: center;
  bottom: 0px;
  padding: 10px 15px;
  color: white;
  transition-duration: 0.2s;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}
.current {
  background-color:#03cfa6;
}

.future {
  background-color:#0071bc;
}


.read-button:hover {
  color: #0071bc;
  font-style: bold;
  background-color: white;
  border: #28374e solid 2px;
  text-decoration: none;
  box-shadow: 0px 0px 3px #28374e;
}
