.comment-window {
  border-radius: 12px;
  overflow: scroll;
  height: 22vh;
  width: 100%;
  background: lightgrey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: -15px;
  margin-bottom: 24px;
  padding-top: 1em;
}

.comment-row {
  display: flex;
  // margin: 2px;
}

.comment {
  border: 1px solid grey;
  border-radius: 8px;
  background-color: lightsteelblue;
  flex-grow: 1;
  padding: 3px;
  height: 80px;
}

.comment-first-line {
  display: flex;
  justify-content: space-between;
}

.comment-second-line {
  display: flex;
  justify-content: space-between;
}
