.comment-window {
  border-radius: 12px;
  overflow: scroll;
  width: 100%;
  margin-top: -15px;
  margin-bottom: 24px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.form-control {
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px $darkblue;
}

.form-control:focus {
  box-shadow: 0 0 8px $darkblue;
}

.comment-row {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-col {
  padding-right: 0px;
}

.comment {
  border-radius: 8px;
  background-color: #b9d2ea;
  flex-grow: 1;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 4px;
}

.comment h6 {
  margin: 0px;
}

.comment p {
  margin: 0px;
}

#comment-user-name {
  font-size: 0.8rem;
}

.comment-text {
  font-size: 1rem;
}

.comment-first-line {
  display: flex;
  justify-content: space-between;
}

.comment-second-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.comment-created-at-time {
  font-size: 0.7rem;
  bottom: 0;
}
