#card-info {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.library-card {
  display: flex;
  width: 350px;
  height: 470px;
  justify-content: center;
}
