#card-info {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
}

#del {
  opacity: 0;
}

.library-card {
  display: flex;
  width: 350px;
  height: 470px;
  justify-content: center;
  margin: 10px 0;
}

.shaded-lib-card {
  color: white;
  background-size: cover;
  background-position: center;
  padding: 12px;
  border-radius: 10px;
  transition: all 0.2s linear;
  opacity: 1;
}

.shaded-lib-card:hover {
  scale: 105%;
  opacity: 1;
  #card-info, #del {
    opacity: 1;
  }
}
